.PFooter{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight:bold;
  margin-left: 2%;
}

.Footer {
  background-color: #171717;
  height: 8%;
  display: flex;
  flex-direction: row;
  padding: 3%;
}

.FooterContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
 
}

.FooterContainer2{
  width: 50%;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items:center;
 
}

.FooterH3{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight:bold;
  margin-right: 2%;
}

.ImgFooter{
  width: 15%;
 
}

.InstaFooter{
  width: 80px;
  height: 80px;
}

.InstaFooter {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.InstaFooter:hover  {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

  /*--------------------------------------------------------Code pour format de tablette--------------------------------------------------------*/

  @media(min-width: 768px) and (max-width: 1388px)
  {
  
      .PFooter {
        font-size: 11px;
      }

      .Footer {
        height: 15%;
      }

      .FooterH3{
        font-size: 15px;
      }
  }
  
  
  /*-------------------------------------------------------Code pour format de smartphone-------------------------------------------------------*/
  
  @media(max-width: 767px)
  {
  
    .PFooter {
      font-size: 12px;
    }
  
    .Footer {
      height: 55%;
      display: flex;
      flex-direction:column-reverse;
    }

    .FooterH3{
      font-size: 17px;
    }

    .InstaFooter{
      width: 40px;
      height: 40px;
    }

    .ImgFooter{
      display: none;
    }
  
    .FooterContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 2%;
    }
    
    .FooterContainer2{
      width: 100%;
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items:center;
      
    }
  }