#basic-nav-dropdown{
  font-weight: bold;
}

.app{
display: block;
  background-image: url("./Blinguage/bg.jpg");
background-position: right top;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 70%;
  
}

.jap{
  font-size: 120px;
}

.Blinguage{
  font-family: 'Besley', serif;
}

$spacer : 1rem;
$spacers : (

6:($spacer * 6),
7:($spacer * 12),
8:($spacer * 24)
);
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,900;1,900&display=swap');
