.MainContainer{
  
    width:25%;
    height:100%;
    background:#171717;
    border-radius:8px;
    box-shadow:0 0 40px -10px #171717;
    font-family: 'Roboto', sans-serif;
    margin: 10% auto;
    padding: 2% 2% 2% 2%;

}

.logincontainer{
  display: flex;
  flex-direction: column;

}

.Form { 
  display: flex;
  flex-direction: column;
}

.inputContact{
  border: 0;
  outline: 0;
  cursor: text;
  background: transparent;
  border-bottom: 2px solid #444444;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight:400;
  margin-bottom: 3%;
  color: white;
}

.Badmin{
  background-color:#444444; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.ErreurAdmin{
  
display:none;

}


/*--------------------------------------------------------Code pour format de tablette--------------------------------------------------------*/

@media(min-width: 768px) and (max-width: 1388px)
{

  .MainContainer{
    width: 30%;
  }
   

}


/*-------------------------------------------------------Code pour format de smartphone-------------------------------------------------------*/

@media(max-width: 767px)
{
  .MainContainer{
    width: 80%;
  }
   

}